{
    "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true,
      "node": true,
      "jest": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier", "jsx-a11y"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "react/prop-types": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/jsx-key": "warn",
      "react/button-has-type": "warn",
      "jsx-a11y/alt-text": "warn",
      "jsx-a11y/no-noninteractive-element-interactions": "warn",
      "jsx-a11y/aria-props": "warn",
      "no-console": "off",
      "no-unused-vars": "warn"
    }
  }